<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRISPR analysis</title>
</head>
<body>
    {# custom style #}
    <script src="{{ url_for('static', filename='js_libraries/jquery-3.3.1.min.js') }}"
                crossorigin="anonymous">
        </script>
    {# requirements for bootstrap #}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_libraries/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js_libraries/bootstrap.min.js') }}"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous">
        </script>
    {# end of requirements for bootstrap #}

    <div id="page" class="mx-4">
      <nav class="navbar navbar-light bg-light justify-content-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Genes view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log_plots">Log Plots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/compare">Compare Cell Lines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/heatmap">Heat map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data_import">Data Import</a>
          </li>
        </ul>
      </nav>
      {% block body %}{% endblock %}
    </div>
</body>
</html>